/* body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vmin;
  height: 60vmin;
  background: url("/images/segmite.webp") no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  opacity: 0.08;
  z-index: -1;
  pointer-events: none;
} */
