<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/fav_icon.webp" type="image/png" />
    <title>Society of Economic Geologists & Mineral Technologists</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <style>
    .mySlides {
      display: none;
    }
    img {
      vertical-align: middle;
    }
    .slideshow-container {
      position: relative;
      margin: 24px auto auto auto;
    }
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev,
      .next,
      .text {
        font-size: 11px;
      }
    }

    /* Infinite Scrolling */
    .scroll-container {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background: #fff;
      border-left: 6px solid #fff;
      border-right: 6px solid #fff;
    }

    .scroll-content {
      display: inline-block;
      animation: scroll-x 30s linear infinite;
    }

    .item {
      display: inline-block;
      padding: 12px 24px;
      margin: 0 5px;
      font-size: 18px;
    }

    @keyframes scroll-x {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  </style>
  <body>
    <%- include("./components/header") %>

    <div class="sm:px-4 py-6 px-2">
      <main class="container mx-auto">
        <!-- Current Page Navigate -->
        <div class="shadow-sm rounded-sm bg-white sm:flex grid font-medium text-sm overflow-hidden">
          <div class="bg-[#85082b] text-white text-lg uppercase flex items-center pr-4 py-2 whitespace-nowrap">
            <svg class="size-8 mx-3 animate-pulse" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grid2x2-icon lucide-grid-2x2">
              <path d="M12 3v18" />
              <path d="M3 12h18" />
              <rect x="3" y="3" width="18" height="18" rx="2" />
            </svg>
            Latest Information
          </div>
          <div class="scroll-container">
            <div class="scroll-content">
              <div class="item">Item 1</div>
              <div class="item">Item 2</div>
              <div class="item">Item 3</div>
              <div class="item">Item 4</div>
              <div class="item">Item 5</div>
              <div class="item">Item 6</div>
              <div class="item">Item 7</div>
              <div class="item">Item 8</div>
              <div class="item">Item 9</div>
              <div class="item">Item 10</div>

              <!-- Duplicate for smooth infinite effect -->
              <div class="item">Item 1</div>
              <div class="item">Item 2</div>
              <div class="item">Item 3</div>
              <div class="item">Item 4</div>
              <div class="item">Item 5</div>
              <div class="item">Item 6</div>
              <div class="item">Item 7</div>
              <div class="item">Item 8</div>
              <div class="item">Item 9</div>
              <div class="item">Item 10</div>
            </div>
          </div>
        </div>
        <!-- Content -->
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img src="/images/1.webp" class="w-full rounded-sm md:h-120 sm:h-80 h-60 object-cover object-center" />
          </div>

          <div class="mySlides fade">
            <img src="/images/2.webp" class="w-full rounded-sm md:h-120 sm:h-80 h-60 object-cover object-center" />
          </div>

          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <!-- About Us -->
        <div class="mt-6 bg-white rounded-sm md:p-8 p-4 shadow-xs">
          <section>
            <h1 class="text-[#85082b] font-semibold xl:text-2xl text-xl mb-4">About (Society of Economic Geologists and Mineral Technologists)</h1>
            <p>The Society of Economic Geologists & Mineral Technologists (SEGMITE), a non-profit organization registered in Pakistan. The Society was founded in 1989 with the aim of promoting sustainable development of minerals, water and clean energy resources. The Society has a large number of Life members and corporate members associated with academia, research institutions, mining, energy and environment related industries, based in Pakistan and other South Asian countries. It is run by Members Board of Directors including Convener and Treasurer.</p>
            <p class="mt-2">The Society members, professionals and other stake holders are invited to participate in its regular scientific activities including national and international conferences, symposia, workshops, training courses, awareness seminars and lecture series. These events are organized regularly in collaboration with leading national and international research and teaching institutions, industries, government and other development organizations to exchange and advance knowledge in the fields of economic geology, mining geology, mineral based industries, clean energy resources and protection of the environment. SEGMITE activities over three decades have created awareness among people, regulatory bodies and policy makers about the need for sustainable development and value added utilization of natural resources.</p>
          </section>
          <section class="pt-4">
            <h1 class="text-[#85082b] font-semibold xl:text-2xl lg:text-xl text-lg mb-4">
              International Journal of Economic & Environmental Geology
              <a class="text-sm text-blue-600 hover:underline whitespace-nowrap" href="https://www.econ-environ-geol.org/index.php/ojs" target="_blank">https://www.econ-environ-geol.org/index.php/ojs</a>
            </h1>
            <p>SEGMITE publishes an Open-access, Quarterly International Journal of Economic and Environmental Geology (IJEEG) with ISSN: 2223-957 X. It is a peer-reviewed multidisciplinary, open archive international journal published since 2010 in Karachi, Pakistan. This online international journal is dedicated to publish original research work related to the fields of Economic and Environmental Geology. IJEEG is indexed by various databases including the Directory of Open Access Journals (DOAJ), Academia, ISI, ASI, SEMANTIC SCHOLAR, Cross Ref. (DOI), Euro Pub, Google, BASE and Science Open etc.</p>
          </section>
          <section id="segmite-events" class="brief-profile-section grid pt-4">
            <h1 class="text-[#85082b] font-semibold xl:text-2xl lg:text-xl text-lg mb-4">SEGMITE Events held during 1989 - 2024</h1>
            <ul class="list-disc ml-4 grid gap-2">
              <li>Seminar on Prospects and Problems of Minerals based Industries in Pakistan in collaboration with Mining Engineering Department, KPK University of Engineering, Peshawar (1989).</li>
              <li>First SEGMITE National Conference on Industrial Minerals in collaboration with Pak. Council of Scientific & Industrial Research (PCSIR), Peshawar (1990).</li>
              <li>First SEGMITE Symposium on Export Promotion of Mineral Products, Peshawar (1991).</li>
              <li>SEGMITE Training Course on Mine Safety, Swabi (1992).</li>
              <li>SEGMITE Business meeting was held during 29th International Geological Congress, Kyoto, Japan (1992).</li>
              <li>Workshop on Gems and Minerals Scientific Mining was held in collaboration with Export Promotion Bureau, Mingora (1993).</li>
              <li>Second SEGMITE International Conference & Exhibition on Export Oriented Development of Mineral Resources and Mineral based Industries in collaboration with Export Promotion Bureau, Geological Survey of Pakistan, Asian Development Bank and AGID in Karachi (1994).</li>
              <li>First National Mineral Policy of Pakistan 1995 and launching of annual International Gems and Mineral Exhibitions by the Govt. in Peshawar were the direct outcomes of the Recommendations of the Second SEGMITE Conference.</li>
              <li>International Symposium & Field Workshop on rock Phosphate & Other Industrial Minerals held in collaboration with UNESCO-IGCP Project 395, Geological Survey of Pakistan, Pakistan Science Foundation and AGID, Abbottabad (1995).</li>
              <li>International Training Course on Groundwater & Potable Water Supply to Rural Areas held in association with Association Geoscientists for International Development (AGID), Peshawar (1996).</li>
              <li>International Workshop on Industrial Minerals for International Development held in association with British Geological Survey, Peshawar (1997).</li>
              <li>Third SEGMITE International Symposium and Exhibition on Sustainable Development of Water Resources in association with National Institute of Oceanography, Export Promotion Bureau and Association of Geoscientists for International Development (AGID), Karachi (1999).</li>
              <li>International Conference on Natural Resources & Environment in association with Geological Survey of Bangladesh and AGID, Dhaka, Bangladesh (2003).</li>
              <li>Razi Memorial Annual Technical Lecture Series during 2004–2010 in Karachi.</li>
              <li>National Seminar on Renewable Energy in association with Federal Urdu University and Sindh Environment Protection Agency, Karachi (2008).</li>
              <li>International Conference on Water, Minerals and Energy Resources, held in association with Pakistan Council of Research in Water Resources and Association of Geoscientists for International Development and Pakistan Higher Education Commission, Karachi (2013).</li>
              <li>International Conference on Mining and Fuel Minerals was organized in association with Mining Engineering Department, Kutahya University, Inspectorate of Mines, Govt. of Sindh, Pakistan Council for Science and Technology, Pakistan Higher Education Commission (HEC) and Pakistan Science Foundation, Karachi (2017).</li>
              <li>World Water Day in association with Pakistan Council of Research in Water Resources (PCRWR) and Geology Department, Federal Urdu University, Karachi (2018).</li>
              <li>Symposium on Industrial Minerals, Coal & Mineral based Industries in association with Pakistan Council of Scientific & Industrial Research (PCSIR) and Pakistan Science Foundation, Karachi (2019).</li>
              <li>Training Course on Gem Cutting and Polishing in association with Pakistan Science Foundation, Karachi (2020).</li>
              <li>World Water Day in association with PCRWR and PCSIR, Tando Jam (2021).</li>
              <li>Sindh Government Climate Policy, Karachi (2021) was prepared by SEGMITE team.</li>
              <li>International Conference on Climate Change Impacts & Responses held in association with Geology Department of Geology, University of Karachi, Pakistan Meteorological Department, PCRWR, and Pakistan Science Foundation, Karachi (2022).</li>
              <li>Seminar on Devastating Floods in Pakistan in association with Federation of Pakistan Chambers of Commerce & Industry (FPCCI), Karachi (2022).</li>
              <li>International Conference on Mineral Processing in association with Pak-Austria University, Haripur (2023).</li>
              <li>Protection of Groundwater Resources in association with PCRWR, Karachi (2023).</li>
              <li>Disaster Risk Management in association with PCRWR and Pakistan Science Foundation, Tandojam (2023).</li>
              <li>Seminar on Tropical Cyclone & Tsunami Threat to Pakistan Coast: Our Preparedness, in association with Pakistan Meteorological Department Continent, Karachi (2023).</li>
              <li>Two day National Symposium on Renewable Energy & Sustainability was organized by SEGMITE in collaboration with Sindh Higher Education Commission, Pakistan Science Foundation, Hamdard University and University of Karachi Geology Department, Karachi (2024).</li>
            </ul>

            <p class="text-center mt-4">Besides, a large number of technical lectures, seminars, and group discussions have been organized by SEGMITE in Pakistan and other countries during the last 35 years which helped creating awareness among the people, media and policy makers about the need for modern scientific practices and sustainable development of minerals, energy and water resources, and protection of the environment.</p>
          </section>
        </div>
        <!-- Executive Committee -->
        <div class="mt-6">
          <h1 class="text-center text-2xl font-semibold">Executive Committee</h1>

          <%- include("components/member") %>
        </div>
      </main>
    </div>

    <!-- Footer -->
    <%- include("components/footer") %>

    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }
      setInterval(() => {
        plusSlides(1);
      }, 10 * 1000);

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
      }
    </script>
  </body>
</html>
