<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/fav_icon.webp" type="image/png" />
    <title>Society of Economic Geologists & Mineral Technologists</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include("../components/header") %>

    <div class="sm:px-4 py-6 px-2">
      <main class="container mx-auto">
        <!-- Current Page Navigate -->
        <div class="p-4 shadow-sm rounded-sm bg-white flex gap-2 uppercase font-medium text-sm">
          <a href="/" class="cursor-pointer hover:text-[#85082b]">Home</a> /
          <a href="/about" class="cursor-pointer hover:text-[#85082b]">About</a> /
          <a href="/about/SEGMITE-events" class="cursor-pointer hover:text-[#85082b]">SEGMITE Events</a>
        </div>
        <!-- About Us -->
        <div class="mt-6 bg-white rounded-sm md:p-8 p-4 shadow-xs">
          <section id="segmite-events" class="brief-profile-section grid">
            <h1 class="text-[#85082b] font-semibold xl:text-2xl lg:text-xl text-lg mb-4">SEGMITE Events held during 1989 - 2024</h1>
            <ul class="list-disc ml-4 grid gap-2">
              <li>
                Seminar on Prospects and Problems of Minerals based Industries in Pakistan in collaboration with Mining Engineering
                Department, KPK University of Engineering, Peshawar (1989).
              </li>
              <li>
                First SEGMITE National Conference on Industrial Minerals in collaboration with Pak. Council of Scientific & Industrial
                Research (PCSIR), Peshawar (1990).
              </li>
              <li>First SEGMITE Symposium on Export Promotion of Mineral Products, Peshawar (1991).</li>
              <li>SEGMITE Training Course on Mine Safety, Swabi (1992).</li>
              <li>SEGMITE Business meeting was held during 29th International Geological Congress, Kyoto, Japan (1992).</li>
              <li>
                Workshop on Gems and Minerals Scientific Mining was held in collaboration with Export Promotion Bureau, Mingora (1993).
              </li>
              <li>
                Second SEGMITE International Conference & Exhibition on Export Oriented Development of Mineral Resources and Mineral based
                Industries in collaboration with Export Promotion Bureau, Geological Survey of Pakistan, Asian Development Bank and AGID in
                Karachi (1994).
              </li>
              <li>
                First National Mineral Policy of Pakistan 1995 and launching of annual International Gems and Mineral Exhibitions by the
                Govt. in Peshawar were the direct outcomes of the Recommendations of the Second SEGMITE Conference.
              </li>
              <li>
                International Symposium & Field Workshop on rock Phosphate & Other Industrial Minerals held in collaboration with
                UNESCO-IGCP Project 395, Geological Survey of Pakistan, Pakistan Science Foundation and AGID, Abbottabad (1995).
              </li>
              <li>
                International Training Course on Groundwater & Potable Water Supply to Rural Areas held in association with Association
                Geoscientists for International Development (AGID), Peshawar (1996).
              </li>
              <li>
                International Workshop on Industrial Minerals for International Development held in association with British Geological
                Survey, Peshawar (1997).
              </li>
              <li>
                Third SEGMITE International Symposium and Exhibition on Sustainable Development of Water Resources in association with
                National Institute of Oceanography, Export Promotion Bureau and Association of Geoscientists for International Development
                (AGID), Karachi (1999).
              </li>
              <li>
                International Conference on Natural Resources & Environment in association with Geological Survey of Bangladesh and AGID,
                Dhaka, Bangladesh (2003).
              </li>
              <li>Razi Memorial Annual Technical Lecture Series during 2004–2010 in Karachi.</li>
              <li>
                National Seminar on Renewable Energy in association with Federal Urdu University and Sindh Environment Protection Agency,
                Karachi (2008).
              </li>
              <li>
                International Conference on Water, Minerals and Energy Resources, held in association with Pakistan Council of Research in
                Water Resources and Association of Geoscientists for International Development and Pakistan Higher Education Commission,
                Karachi (2013).
              </li>
              <li>
                International Conference on Mining and Fuel Minerals was organized in association with Mining Engineering Department,
                Kutahya University, Inspectorate of Mines, Govt. of Sindh, Pakistan Council for Science and Technology, Pakistan Higher
                Education Commission (HEC) and Pakistan Science Foundation, Karachi (2017).
              </li>
              <li>
                World Water Day in association with Pakistan Council of Research in Water Resources (PCRWR) and Geology Department, Federal
                Urdu University, Karachi (2018).
              </li>
              <li>
                Symposium on Industrial Minerals, Coal & Mineral based Industries in association with Pakistan Council of Scientific &
                Industrial Research (PCSIR) and Pakistan Science Foundation, Karachi (2019).
              </li>
              <li>Training Course on Gem Cutting and Polishing in association with Pakistan Science Foundation, Karachi (2020).</li>
              <li>World Water Day in association with PCRWR and PCSIR, Tando Jam (2021).</li>
              <li>Sindh Government Climate Policy, Karachi (2021) was prepared by SEGMITE team.</li>
              <li>
                International Conference on Climate Change Impacts & Responses held in association with Geology Department of Geology,
                University of Karachi, Pakistan Meteorological Department, PCRWR, and Pakistan Science Foundation, Karachi (2022).
              </li>
              <li>
                Seminar on Devastating Floods in Pakistan in association with Federation of Pakistan Chambers of Commerce & Industry
                (FPCCI), Karachi (2022).
              </li>
              <li>International Conference on Mineral Processing in association with Pak-Austria University, Haripur (2023).</li>
              <li>Protection of Groundwater Resources in association with PCRWR, Karachi (2023).</li>
              <li>Disaster Risk Management in association with PCRWR and Pakistan Science Foundation, Tandojam (2023).</li>
              <li>
                Seminar on Tropical Cyclone & Tsunami Threat to Pakistan Coast: Our Preparedness, in association with Pakistan
                Meteorological Department Continent, Karachi (2023).
              </li>
              <li>
                Two day National Symposium on Renewable Energy & Sustainability was organized by SEGMITE in collaboration with Sindh Higher
                Education Commission, Pakistan Science Foundation, Hamdard University and University of Karachi Geology Department, Karachi
                (2024).
              </li>
            </ul>

            <p class="text-center mt-4">
              Besides, a large number of technical lectures, seminars, and group discussions have been organized by SEGMITE in Pakistan and
              other countries during the last 35 years which helped creating awareness among the people, media and policy makers about the
              need for modern scientific practices and sustainable development of minerals, energy and water resources, and protection of
              the environment.
            </p>
          </section>
        </div>
      </main>
    </div>

    <!-- Footer -->
    <%- include("../components/footer") %>
  </body>
</html>
