<section class="mt-6 bg-gray-50 p-4 rounded-sm">
  <h1 class="text-xl text-[#85082b] font-semibold capitalize mb-4 whitespace-nowrap">About Author</h1>
  <div class="flex gap-4">
    <img src="/images/boy.png" alt="author image" class="md:size-40 sm:size-30 size-20 shrink-0 object-cover object-center rounded-sm" />
    <div class="grid gap-4 content-start">
      <div>
        <h1 class="md:text-xl text-lg font-semibold capitalize">Society of Economic Geologists & Mineral Technologists</h1>
        <p class="md:text-lg">Administrator</p>
      </div>
      <div class="flex gap-2 flex-wrap max-sm:hidden">
        <a
          href="/"
          class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"
        >
          Visit Website
        </a>
        <a
          href="/"
          class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"
        >
          View All Posts
        </a>
      </div>
    </div>
  </div>
  <div class="flex gap-2 flex-wrap justify-center sm:hidden mt-2">
    <a
      href="/"
      class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"
    >
      Visit Website
    </a>
    <a
      href="/"
      class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"
    >
      View All Posts
    </a>
  </div>
</section>
