<section class="mt-6 bg-gray-50 p-4 rounded-sm">
  <div class="flex gap-4">
    <div class="grid gap-4 content-start">
      <div>
        <h1 class="md:text-xl text-lg font-semibold capitalize">International Journal of Economic and Environmental Geology <span class="text-[#85082b] font-semibold capitalize whitespace-nowrap">(IJEEG)</span></h1>
      </div>
      <div class="flex gap-2 flex-wrap max-sm:hidden">
        <a href="https://www.econ-environ-geol.org/index.php/ojs" class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"> Visit Website </a>
        <a href="https://www.econ-environ-geol.org/index.php/ojs/issue/archive" class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"> View All Posts </a>
      </div>
    </div>
  </div>
  <div class="flex gap-2 flex-wrap justify-center sm:hidden mt-2">
    <a href="https://www.econ-environ-geol.org/index.php/ojs" class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"> Visit Website </a>
    <a href="https://www.econ-environ-geol.org/index.php/ojs/issue/archive" class="p-1 px-4 rounded-full border-gray-700 text-gray-700 cursor-pointer flex justify-center items-center hover:border-[#85082b] border hover:text-[#85082b]"> View All Posts </a>
  </div>
</section>
