<body style="width:100%;height:100%;margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div lang="en" style="background-color:#f6f6f6; padding: 20px 0px;">
    <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;height:100%;background-color:#f6f6f6;">
      <tr>
        <td valign="top" style="display: flex; justify-content: center;">
          <!-- Main Content Wrapper -->
          <table align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#e5e0e0;width:100%; border-radius:10px;overflow:hidden;max-width: 600px;">
            
            <!-- Header -->
            <tr>
              <td style="padding:0 0 20px 0;">
                <table bgcolor="#6aa84f" align="center" cellspacing="0" cellpadding="0" style="border-collapse:collapse;background-color:#6aa84f;width:100%;">
                  <tr>
                    <td align="center" style="padding:30px 10px;">
                      <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:28px;line-height:34px;font-weight:bold;color:#ffffff;">
                        Segmite Member
                      </h3>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

                <!-- Info Block -->
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Name (Prof. Dr. Engr.)
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.fullname}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Highest qualification
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.qualification}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Specialization
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.specialization}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Designation and organization
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.designation}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Address
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.address}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Email
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.email}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                 <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Cell
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.cell}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Tick the membership desired
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.membership}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Fields applicable
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.fields.join(" | ")}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Professional experience.
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.experience}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:0 10px 5px 10px;">
                    <table bgcolor="#f6f6f6" align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;border:1px solid #cccccc;border-radius:10px;">
                      <tr>
                        <td style="padding:10px;">
                          <h3 style="margin:0;font-family:Arial, Helvetica, sans-serif;line-height:20px;color:#333333;">
                            Specific jobs to be done
                          </h3>
                          <p style="margin:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:21px;color:#333333;">
                            ${data.jobs}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <!-- Button -->
                <tr>
                  <td style="padding:10px 0;">
                    <table align="center" cellspacing="0" cellpadding="0" style="border-collapse:separate;width:100%;">
                      <tr>
                        <td align="center" style="padding:10px 20px;">
                          <a href="tel:1234567" target="_blank" style="text-decoration:none;color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;display:inline-block;padding:10px 20px;background:#6aa84f;border-radius:10px;">
                            Contact Member
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>


          </table>
        </td>
      </tr>
    </table>
  </div>
</body>