<div class="bg-[#85082b] p-2 sm:px-4">
  <div class="container mx-auto flex justify-between gap-5">
    <h1 class="capitalize font-medium text-white" id="date-display"></h1>
  </div>
</div>

<header class="py-4 sm:px-4 px-2 bg-[#f1f1f1]">
  <div class="flex justify-between gap-5 items-center container mx-auto">
    <img src="/images/segmite.webp" alt="Segmite Logo" class="sm:size-30 size-25" />
    <h2 class="text-xl font-semibold capitalize text-[#85082b] sm:w-80 w-60 md:text-center">Society of Economic Geologists and Mineral Technologists</h2>
    <a target="_blank" href="https://www.econ-environ-geol.org" class="max-md:hidden">
      <img src="/images/IJEEG-QR.png" alt="IJEEG" class="h-24" />
    </a>
  </div>
</header>

<div nav-stop-propagation class="bg-[#85082b] shadow-md sticky z-50 top-0 left-0 sm:px-4 px-2 max-md:py-2 flex justify-between">
  <!-- Desktop -->
  <nav class="container mx-auto flex items-center justify-between gap-5">
    <div id="main-target-menu" class="size-10 p-2 rounded-sm bg-white shrink-0 cursor-pointer md:hidden" onclick="isVisibleMobileMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-align-justify-icon lucide-text-align-justify">
        <path d="M3 5h18" />
        <path d="M3 12h18" />
        <path d="M3 19h18" />
      </svg>
    </div>
    <div class="font-medium text-sm uppercase flex gap-x-6 items-center tracking-wider flex-wrap container mx-auto max-md:hidden whitespace-nowrap">
      <a class="nav-menu cursor-pointer h-14 flex items-center text-white" href="/">Home</a>
      <!-- MemberShip -->
      <div class="relative" id="membership-menu-target">
        <a class="nav-menu cursor-pointer h-14 flex items-center text-white gap-1" href="/membership"
          >Membership
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </a>
        <div id="membership-main-menu" style="display: none" class="bg-white absolute top-full left-0 shadow-xl border-x border-[#d4d4d4] h-fit grid z-10">
          <a href="/membership/form" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50 font-bold text-[#85082b]">Membership Form</a>
          <a href="/empty" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Corporate Members</a>
          <a href="/empty" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Life Corporate Members</a>
          <a href="/membership/life-member" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Life Members</a>
        </div>
      </div>
      <!-- Organization -->
      <div class="relative" id="organization-menu-target">
        <span class="nav-menu cursor-pointer h-14 flex items-center text-white gap-1"
          >Organization
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </span>
        <div id="organization-main-menu" style="display: none" class="bg-white absolute w-80 top-full left-0 shadow-xl border-x border-[#d4d4d4] h-fit grid z-10">
          <a href="/organization/executive-committee" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-break-spaces hover:bg-gray-50">Executive Committee (1<sup class="lowercase">st</sup> - 21<sup class="lowercase">st</sup>)</a>
          <a href="/organization/editorial-board" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-break-spaces hover:bg-gray-50">Editorial Board Members of the Journal of SEGMITE</a>
          <a href="/organization/sub-committee" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-break-spaces hover:bg-gray-50">Sub Committee (21<sup class="lowercase">st</sup> Executive Committee)</a>
        </div>
      </div>
      <!-- Download -->
      <div class="relative" id="Activities-menu-target">
        <span class="nav-menu cursor-pointer h-14 flex items-center text-white gap-1"
          >DOWNLOAD
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </span>
        <div id="Activities-main-menu" style="display: none" class="bg-white absolute top-full left-0 shadow-xl border-x border-[#d4d4d4] h-fit grid z-10">
          <a target="_blank" href="https://www.econ-environ-geol.org/" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Journal</a>
          <a href="/publications" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Publications</a>
        </div>
      </div>
      <!-- Achievement  -->
      <div class="relative" id="achievement-menu-target">
        <span class="nav-menu cursor-pointer h-14 flex items-center text-white gap-1"
          >Achievements
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </span>
        <div id="achievement-main-menu" style="display: none" class="bg-white absolute top-full left-0 shadow-xl border-x border-[#d4d4d4] h-fit grid z-10">
          <a href="/past-activities" class="p-2 px-4 border-t border-[#d4d4d4] whitespace-nowrap hover:bg-gray-50">Past Activities</a>
        </div>
      </div>
      <a class="nav-menu cursor-pointer h-14 flex items-center text-white" href="/activities-and-announcements">Activities and Announcements</a>
      <a class="nav-menu cursor-pointer h-14 flex items-center text-white" href="/contact">Contact</a>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu-box" class="bg-white rounded-sm shadow-2xl z-50 absolute left-0 h-0 top-full w-full grid overflow-hidden">
    <a href="/" class="py-2 px-4 border-b-2 hover:bg-gray-100 font-medium text-[#333] border-[#ddd]">Home</a>
    <!-- Membership -->
    <div class="border-b text-[#333] border-[#ddd] grid">
      <div id="mobile-membership-menu-target" class="py-2 px-4 border-b hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex justify-between items-center">
        <span>Membership</span>
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
      <div id="mobile-membership-main-menu" class="h-0 overflow-hidden bg-gray-100">
        <a href="/membership" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Membership Categories
        </a>
        <a href="/empty" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Corporate Member
        </a>
        <a href="/empty" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Life Corporate Member
        </a>
        <a href="/membership/life-member" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Life Members
        </a>
      </div>
    </div>
    <!-- Organization -->
    <div class="border-b text-[#333] border-[#ddd] grid">
      <div id="mobile-organization-menu-target" class="py-2 px-4 border-b hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex justify-between items-center">
        <span>Organization</span>
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
      <div id="mobile-organization-main-menu" class="h-0 overflow-hidden bg-gray-100">
        <a href="/organization/executive-committee" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Executive Committee (1ST - 21ST)
        </a>
        <a href="/organization/editorial-board" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Editorial Board Members of the Journal of SEGMITE
        </a>
        <a href="/organization/sub-committee" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Sub Committee (21ST)
        </a>
      </div>
    </div>
    <!-- Downloads -->
    <div class="border-b text-[#333] border-[#ddd] grid">
      <div id="mobile-activities-menu-target" class="py-2 px-4 border-b hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex justify-between items-center">
        <span>Download</span>
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
      <div id="mobile-activities-main-menu" class="h-0 overflow-hidden bg-gray-100">
        <a target="_blank" href="https://www.econ-environ-geol.org/index.php/ojs" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Journals
        </a>
        <a href="/publications" class="border-b py-2 px-6 hover:bg-gray-100 font-medium text-[#333] border-[#ddd] flex gap-2 items-center">
          <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right">
            <path d="m15 10 5 5-5 5" />
            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
          </svg>
          Publications
        </a>
      </div>
    </div>
    <a class="py-2 px-4 border-b-2 hover:bg-gray-100 font-medium text-[#333] border-[#ddd]" href="/activities-and-announcements">Activities and Announcements</a>
    <a class="py-2 px-4 border-b-2 hover:bg-gray-100 font-medium text-[#333] border-[#ddd]" href="/contact">Contact</a>
  </div>
  <a href="/membership/form" class="md:hidden bg-blue-800 hover:bg-blue-900 active:bg-blue-600 rounded-sm px-4 py-2 font-semibold text-white whitespace-nowrap">SEGMITE Membership Form</a>
</div>

<!-- ======================================= -->
<!-- Javascript -->
<!-- ======================================= -->
<script>
  let months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"];
  const date = new Date();
  const format = `${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`;
  document.getElementById("date-display").innerText = format;

  // main-target-menu
  const mainTargetMenu = document.getElementById("main-target-menu");
  let barSvg = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-align-justify-icon lucide-text-align-justify"><path d="M3 5h18"/><path d="M3 12h18"/><path d="M3 19h18"/></svg>`;
  let closeSvg = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>`;

  // Mobile Menu Logic ========================================
  document.body.addEventListener("click", () => {
    closeOrganizationMobileMenu();
    closeMembershipMobileMenu();

    closeActivitiesMobileMenu();
    closeMobileMenu();
    mainTargetMenu.innerHTML = barSvg;
    mainTargetMenu.style.cssText = "";
  });
  document.querySelector("[nav-stop-propagation]").addEventListener("click", (e) => e.stopPropagation());
  const mobileMenuBox = document.getElementById("mobile-menu-box");
  function closeMobileMenu() {
    const style = window.getComputedStyle(mobileMenuBox);
    if (style.height != "0px") {
      mobileMenuBox.style.height = `0px`;
    }
  }
  function isVisibleMobileMenu() {
    const style = window.getComputedStyle(mobileMenuBox);
    console.log(style.height);
    if (style.height === "0px") {
      mobileMenuBox.style.height = `fit-content`;
      mainTargetMenu.innerHTML = closeSvg;
      mainTargetMenu.style.cssText = "color: #85082b";
    } else {
      closeOrganizationMobileMenu();
      closeMembershipMobileMenu();

      closeActivitiesMobileMenu();
      mobileMenuBox.style.height = `0px`;
      mainTargetMenu.innerHTML = barSvg;
      mainTargetMenu.style.cssText = "";
    }
  }
  // Membership
  const mobile_membership_menu_target = document.getElementById("mobile-membership-menu-target");
  const mobile_membership_main_menu = document.getElementById("mobile-membership-main-menu");
  mobile_membership_menu_target.addEventListener("click", () => {
    if (window.getComputedStyle(mobile_membership_main_menu).height == "0px") {
      closeOrganizationMobileMenu();
      closeActivitiesMobileMenu();
      mobile_membership_main_menu.style.height = "fit-content";
      mobile_membership_menu_target.lastElementChild.style.transform = "rotate(180deg)";
    } else {
      closeMembershipMobileMenu();
    }
  });
  function closeMembershipMobileMenu() {
    if (window.getComputedStyle(mobile_membership_main_menu).height != "0px") {
      mobile_membership_main_menu.style.height = "0px";
      mobile_membership_menu_target.lastElementChild.style.transform = "rotate(0deg)";
    }
  }
  // Organization
  const mobile_organization_menu_target = document.getElementById("mobile-organization-menu-target");
  const mobile_organization_main_menu = document.getElementById("mobile-organization-main-menu");
  mobile_organization_menu_target.addEventListener("click", () => {
    if (window.getComputedStyle(mobile_organization_main_menu).height == "0px") {
      closeMembershipMobileMenu();
      closeActivitiesMobileMenu();
      mobile_organization_main_menu.style.height = "fit-content";
      mobile_organization_menu_target.lastElementChild.style.transform = "rotate(180deg)";
    } else {
      closeOrganizationMobileMenu();
    }
  });
  function closeOrganizationMobileMenu() {
    if (window.getComputedStyle(mobile_organization_main_menu).height != "0px") {
      mobile_organization_main_menu.style.height = "0px";
      mobile_organization_menu_target.lastElementChild.style.transform = "rotate(0deg)";
    }
  }
  // Activities & Notices
  const mobile_activities_menu_target = document.getElementById("mobile-activities-menu-target");
  const mobile_activities_main_menu = document.getElementById("mobile-activities-main-menu");
  mobile_activities_menu_target.addEventListener("click", () => {
    if (window.getComputedStyle(mobile_activities_main_menu).height == "0px") {
      closeMembershipMobileMenu();
      closeOrganizationMobileMenu();
      mobile_activities_main_menu.style.height = "fit-content";
      mobile_activities_menu_target.lastElementChild.style.transform = "rotate(180deg)";
    } else {
      closeActivitiesMobileMenu();
    }
  });
  function closeActivitiesMobileMenu() {
    if (window.getComputedStyle(mobile_activities_main_menu).height != "0px") {
      mobile_activities_main_menu.style.height = "0px";
      mobile_activities_menu_target.lastElementChild.style.transform = "rotate(0deg)";
    }
  }

  // Desk
  // membership-hover-menu
  const membership_menu_target = document.getElementById("membership-menu-target");
  const membership_main_menu = document.getElementById("membership-main-menu");
  membership_menu_target.addEventListener("mouseenter", openMembershipMenu);
  membership_menu_target.addEventListener("mouseleave", closeMembershipMenu);
  function openMembershipMenu() {
    if (window.getComputedStyle(membership_main_menu).display == "none") {
      membership_main_menu.style.display = "grid";
    }
  }
  function closeMembershipMenu() {
    if (window.getComputedStyle(membership_main_menu).display == "grid") {
      membership_main_menu.style.display = "none";
    }
  }
  // organization-menu-target
  const organization_menu_target = document.getElementById("organization-menu-target");
  const organization_main_menu = document.getElementById("organization-main-menu");
  organization_menu_target.addEventListener("mouseenter", openOrganizationMenu);
  organization_menu_target.addEventListener("mouseleave", closeOrganizationMenu);
  function openOrganizationMenu() {
    if (window.getComputedStyle(organization_main_menu).display == "none") {
      organization_main_menu.style.display = "grid";
    }
  }
  function closeOrganizationMenu() {
    if (window.getComputedStyle(organization_main_menu).display == "grid") {
      organization_main_menu.style.display = "none";
    }
  }
  // Activities and Notice
  const activities_menu_target = document.getElementById("Activities-menu-target");
  const activities_main_menu = document.getElementById("Activities-main-menu");
  activities_menu_target.addEventListener("mouseenter", openActivitiesMenu);
  activities_menu_target.addEventListener("mouseleave", closeActivitiesMenu);
  function openActivitiesMenu() {
    if (window.getComputedStyle(activities_main_menu).display == "none") {
      activities_main_menu.style.display = "grid";
    }
  }
  function closeActivitiesMenu() {
    if (window.getComputedStyle(activities_main_menu).display == "grid") {
      activities_main_menu.style.display = "none";
    }
  }
  // Achievement
  const Achievement_menu_target = document.getElementById("achievement-menu-target");
  const Achievement_main_menu = document.getElementById("achievement-main-menu");
  Achievement_menu_target.addEventListener("mouseenter", openAchievementMenu);
  Achievement_menu_target.addEventListener("mouseleave", closeAchievementMenu);
  function openAchievementMenu() {
    if (window.getComputedStyle(Achievement_main_menu).display == "none") {
      Achievement_main_menu.style.display = "grid";
    }
  }
  function closeAchievementMenu() {
    if (window.getComputedStyle(Achievement_main_menu).display == "grid") {
      Achievement_main_menu.style.display = "none";
    }
  }
</script>
