<div>
  <label class="block font-semibold text-[#333] mb-1"><%= title %></label>
  <input required type="<%= type %>" placeholder="<%= placeholder %>" name="<%= name %>" class="w-full rounded-sm border border-gray-300 focus:outline-gray-400 px-2 py-1.5 text-sm" />
</div>
